@charset "UTF-8";

:root {
    --cor-site:;
    --cor-letra:;
    --cor-secao:;
    --cor-boton:;
    --cor-hover:;
}

* {
    font-family: ;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body, html {
    background-color: antiquewhite;
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;


    position: absolute;
    top: 50%;
    left: 50%;
    

    background-color: white;
    width: 500px;
    height: 100%;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.450);

    transition: width .3s, heigth .3s;
    transition-timing-function: ease;
    transform: translate(-50%, -50%);
}

header#cabecalho {
    background-color: darkorange;
    margin: 5px;
    padding: 5px;
    text-align: center;
    font-size: .8em;
    display: block;
    border-radius: 10px;
    box-shadow: 1px 0px 2px rgba(0, 0, 0, 0.507);
}

footer{
    background-color: cornflowerblue;
}