@charset "UTF-8";

:root {
    --cor-site:;
    --cor-letra:;
    --cor-secao:;
    --cor-boton:;
    --cor-hover:;
}

* {
    font-family: ;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body, html {
    background-color: antiquewhite;
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
    padding: 5px;
    display: flex;

}

header#cabecalho {
    background-color: darkorange;
    margin: 5px;
    padding: 5px;
    text-align: center;
    font-size: .8em;
    display: block;
    border-radius: 1px;
    box-shadow: 1px 0px 2px rgba(0, 0, 0, 0.507);
}

footer{

    background-color: cornflowerblue;
}