@charset "UTF-8";

body {
    width: 100%;

}

header, header > nav {
    flex-flow:row nowrap;
}

header > h1 {
    text-align: center;
    font-size: 1.3em;
    padding-right: 10px;
    flex-flow: 0 0 50px;
    
}

p {
    font-size: 1em;
}

header > nav > a {
    width: 80px;
    
}

main {
    width: 90vw;
}

article > div.media {
    flex: 1 0 300px;
}


div.media > img {
    display: block;
    margin: auto;
    width: 100%;
}

footer p {
    font-size: 1em;
}
